<footer class="bg-dark text-light pt-5 pb-4">
	<div class="container">
		<div class="row">
			<!-- Brand and About -->
			<div class="col-lg-4 col-md-6 mb-4">
				<h5 class="text-uppercase fw-bold text-danger">PizzaParadise</h5>
				<p class="small">
					A hely, ahol a teázás művészete találkozik a minőséggel.
					Fedezd fel prémium teáinkat, és hozd ki a legtöbbet a teázási élményből!
				</p>
				<p class="small">
					<i class="fas text-danger"></i>
					Lorem ipsum dolor sit amet
				</p>
			</div>

			<!-- Useful Links -->
			<div class="col-lg-2 col-md-6 mb-4">
				<h5 class="text-uppercase fw-bold">Hasznos linkek</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#"
							 class="text-light text-decoration-none small">
							<i class="fas fa-chevron-right"></i>
							Rólunk
						</a>
					</li>
					<li>
						<a href="#"
							 class="text-light text-decoration-none small">
							<i class="fas fa-chevron-right"></i>
							Kapcsolat
						</a>
					</li>
					<li>
						<a href="#"
							 class="text-light text-decoration-none small">
							<i class="fas fa-chevron-right"></i>
							Gyakori kérdések
						</a>
					</li>
					<li>
						<a href="#" 
							 class="text-light text-decoration-none small">
							<i class="fas fa-chevron-right"></i>
							Vásárlási feltételek
						</a>
					</li>
				</ul>
			</div>

			<!-- Contact Info -->
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="text-uppercase fw-bold">Elérhetőség</h5>
				<ul class="list-unstyled">
					<li class="small"><i class="fas fa-map-marker-alt"></i> 1234 Budapest, Üllői út 7.</li>
					<li class="small"><i class="fas fa-phone"></i> +36 1 234 5678</li>
					<li class="small"><i class="fas fa-envelope"></i> info@pizzaparadise.hu</li>
				</ul>
			</div>

			<!-- Social Media -->
			<div class="col-lg-3 col-md-6">
				<h5 class="text-uppercase fw-bold">Kövess minket</h5>
				<ul class="list-unstyled d-flex gap-3">
					<li><a href="#" class="text-light fs-5"><i class="fab fa-facebook"></i></a></li>
					<li><a href="#" class="text-light fs-5"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#" class="text-light fs-5"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#" class="text-light fs-5"><i class="fab fa-youtube"></i></a></li>
				</ul>
				<p class="small mt-3">Csatlakozz közösségünkhöz, és értesülj legújabb akcióinkról!</p>
			</div>
		</div>
		<hr class="bg-secondary">
		<div class="text-center small">
			<p class="mb-0">© {{currentYear}} PizzaParadise. Minden jog fenntartva.</p>
		</div>
	</div>
</footer>