<nav style="background-color: #ac1010;" 
     class="navbar navbar-dark navbar-expand-xl shadow-lg">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" 
       ui-sref="home">
      <img src="./media/image/pizza_logo.png" 
           alt="PizzaParadise Logo" 
           style="height: 50px;" 
           class="me-2">
      <span class="fw-bold text-uppercase" 
            style="letter-spacing: 1px;">
        PizzaParadise
      </span>
    </a>

    <!-- Navbar dropdown -->
    <button class="navbar-toggler border-0" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavDropdown"     
            aria-controls="navbarNavDropdown" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Linkek -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item"
            ng-repeat="x in $root.origin">
          <a class="nav-link text-uppercase fw-bold" 
             ui-sref="products()"
             ng-click="selectCategory(x.tagName)" 
             ui-sref-active="active text-decoration-underline">
            {{x.Name}} 
          </a>
        </li>
      </ul>

      <ul class="user-data navbar-nav">
        <li ng-hide="!$root.user.userID" 
            class="nav-item dropdown">
          <a class="nav-link btn btn-outline-light rounded-pill 
                    px-4 py-2 me-2 text-uppercase 
                    fw-bold" 
             role="button" 
             data-bs-toggle="dropdown" 
             aria-expanded="false">
            <i class="fa-solid fa-user mx-1"></i>
            {{$root.user.User}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                 ui-sref="settings" >
                Beállítások
                <i class="fa-solid fa-gear">
                </i>
              </a>
            </li>
            <li ng-hide="user.isAdmin === 0">
              <a class="dropdown-item"
                 ui-sref="adminpage">
                ADMIN felület
                <i class="fa-solid fa-gear">
                </i>
              </a>
            </li>
            <li>
              <a class="dropdown-item" ng-click="logOut()">
                Kijelentkezés
              </a>
            </li>
          </ul>
        </li>

        <!-- Regisztráció gomb -->
        <li ng-hide="$root.user.userID" 
            class="nav-item">
          <a class="nav-link btn btn-outline-light 
                    rounded-pill px-4 py-2 
                    me-2 text-uppercase fw-bold"
             ui-sref="register">
            <i class="fas fa-user-plus"></i> 
            Regisztráció
          </a>
        </li>

        <!-- Bejelentkezés gomb -->
        <li ng-hide="$root.user.userID" class="nav-item">
          <a class="nav-link btn btn-outline-light 
                    rounded-pill px-4 py-2 
                    me-2 text-uppercase fw-bold" 
             ui-sref="login">
            <i class="fas fa-sign-in-alt"></i> 
            Bejelentkezés
          </a>
        </li>

        <li ng-show="$toHide !== false">
          <a class="nav-link btn btn-outline-light 
                    rounded-pill px-4 py-2 
                    me-2 text-uppercase fw-bold"
             ng-click="shoppingCart(null)">
            <i class="fa-solid fa-cart-shopping"></i>
            Kosár
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>