<div class="container my-4">
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4 col-xl-3 mb-4 tea {{x.tag}}"
				 ng-repeat="x in teas"
				 ng-if="selectedCategory === x.tag">
			<div class="card shadow-lg rounded-4 
                        border-0 h-100 overflow-hidden 
                        transition-transform transform-hover"						>
				<!-- Képek -->
				<img ng-src="{{x.image}}"
						 class="card-img-top" 
						 alt="{{x.name}}"
						 style="height: 200px; object-fit: cover; border-bottom: 5px solid #28a745;">

				<!-- Kép body -->
				<div class="card-body text-center p-4">
					<h5 class="card-title text-success mb-3">{{x.name}}</h5>
					<p class="card-text fw-light text-muted"
						 style="font-size: 14px;">
						<strong>Ár .:</strong>
						{{x.price}} Ft
					</p>
				</div>

				<!-- Lábjegyzet -->
				<div class="card-footer bg-transparent border-0 p-3 d-flex justify-content-between">
					<button class="btn btn-outline-primary 
												 rounded-pill px-4 
												 py-2"
									ng-click="shoppingCart(x)">
						<i class="fa fa-cart-plus me-2"></i> 
						Vásárlás
					</button>
					<button class="btn btn-outline-success rounded-pill px-4 py-2"
							ng-click="showModal(x)">
						<i class="fa fa-info-circle me-2"></i> 
						Részletek
					</button>
				</div>
			</div>
		</div>
	</div>
</div>