*:not(input):not(textarea) {
  -webkit-touch-callout:none !important;
	  -webkit-user-select:none !important;
						user-select:none !important;
					outline-style:none !important;
}
.bg-opacity025 {
    backdrop-filter:  brightness(40%) !important;
}
;
    .card-footer .btn i .card-title {
    font-size: 18px;
}
body {
    background-color: #f8efe2;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.carousel-item, img {
    height: 500px;
}
.carousel-image {
    filter: brightness(0.6);
}
.carousel-title, .modal-footer button {
    font-weight: 700;
}
footer ul li a {
    transition: color .3s;
}
.navbar-nav .nav-link:hover {
    color: #a72828!important;
}
.btn-outline-light {
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #ff1f1f;
    color: #fff !important;
}
.btn-danger:hover {
    background-color: #7e1e1e;
}
.carousel-item {
    transition: opacity .5s ease-in-out;
}
.carousel-btn, .carousel-text, .carousel-title {
    animation: 1s ease-out fadeUp;
}
.carousel-title {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, .7);
}
.carousel-text {
    font-size: 1.5rem;
    color: #fff;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    max-width: 70%;
    margin: 0 auto;
}
.carousel-btn {
    font-size: 1.5rem;
    color: #fff;
    border-color: #fff;
    transition: background-color .3s, transform .3s;
}
.carousel-btn:hover {
    background-color: #d30000;
    transform: scale(1.1);
}
@keyframes fadeUp {
    0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}

}
.fa-youtube:hover {
    color:  red;
}
.fa-twitter:hover {
    color:  lightseagreen;
}
.fa-instagram:hover {
    color:  magenta;
}
.fa-facebook:hover {
    color:  rgb(0, 102, 255);
}
.sizedPFP{
    width: 200px;
    height: 200px;
    object-fit: cover;
}